html, body, * {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

header {
    background: #efefef;
    padding-bottom: 20px;
}

header>nav {
    text-align: center;
}

header>nav>ul {
    overflow: auto;
    padding: 0;
    display: inline-block;
}

header>nav>ul>li {
    float: left;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

header>nav>ul>li.active {
    text-decoration: underline;
}

nav {
    overflow: auto;
}

main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

input {
    padding: 10px !important;
}

table {
    width: 100%;
}

.toast-top-right {
    top: 92px;
}

div.form-field {
    margin-bottom: 20px;
}

div.form-field label {
    font-weight: bold;
    display:block;
    margin-bottom: 10px;
}

div.form-field input, div.form-field select {
    width: 100%;
    padding: 10px;
}

div.form-field button {
    padding: 20px;
    background: #eee;
    border: 1px solid #ddd;
    border: none;
    cursor: pointer;
}

.form-errors div {
    background: #FFC6C6;
    padding: 15px;
}

.form-errors div p {
    color: red;
    margin: 0;
} 
